body{
    background-color: #E3E1D8;
    color: #777;
    font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    border-style: solid;
    border-color: #659224;

}
p {
    line-height: 20px;
    margin-bottom: 20px;
}

header {
    height: 120px;
    border-style: solid;
    border-radius: 10px;
    border-color: #000000;
    background-color: #fff;
    margin: 5px;

}
header h1 {
    float: left;
    margin-top: 32px;
    color: #379EC1;
}
header h1 .color {
    color: #659224;
}

header nav {
    float: right;
}
header nav ul li {
    float: left;
    display: inline-block;
    margin-top: 50px;
}
header nav ul li a {
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin-right: 20px;
}

#body {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: red;
}

#hero-image {
    height: auto;
    max-width: 100%;
    padding-top: 1px;
    background: #e8eced url('../image/hero.jpg') no-repeat center;
}
