# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\hugo.tomasi\OneDrive - Ifag Paris\Cours\3eme annee\MSPR Java\b3_mspr_java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
